/* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}



body {
    --scnd-color: #005;
    --scnd-color-nav: #237;
    --primary-color: #ca0;
    --scnd-text-color:  #fff;
    --body-bgc: #eeeeee;
    font-family: montserrat;
    background-color: var(--body-bgc);
}

/* ----- HEADER SECTION ----- */

.recipes-header {
    display: flex;
    flex-direction: column;
    background-color: var(--scnd-color);
    color: var(--scnd-text-color);
}

.header-idk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5dvw;
}

.header-logo-container {
    width: 125px;
    filter: drop-shadow(0 0 20px var(--primary-color));
    margin: 8px 0;
}

.header-logo {
    max-width: 100%;
}

.header-recipe-nav-container-container {
    background-color: var(--body-bgc);
    width: 100%;
}

.header-recipe-nav-container {
    width: 95%;
    background-color: var(--primary-color);
    margin: auto;
    background-color: var(--primary-color);
}

.recipe-nav {
    display: flex;
}

.recipe-nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--scnd-color);
    width: 100%;
}

.recipe-nav-item {
padding: 10px 10px;
min-width: 200px;
text-align: center;
background-color: var(--scnd-color-nav);
flex-grow: 1;
}

.item--home {
    background-color: var(--primary-color);
    color: var(--scnd-color);
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
}

.item--home a {
    margin: auto;
}

.recipe-nav-item a {
    padding: 5px 24 px;
    text-decoration: none;
    color: inherit;
}

.recipe-nav-item a:is(:hover,:focus,:active){
    color: var(--primary-color);
}

.item--home a:is(:hover,:focus,:active){
    color: var(--scnd-text-color);
    text-shadow: 0 0 3px var(--scnd-text-color);
}

/* ----- HEADER ENDS ----- */



/* ----- MAIN STARTS ----- */

.content-container {
    margin: 0 auto;
    max-width: 900px;
    padding: 40px 5dvw;
    background-color: var(--scnd-text-color);
}
h1 {
    color: var(--primary-color);
    margin-bottom: 40px;
}

.content-container img {
    display: block;
    width: 400px;
    max-width: 100%;
}

.description {
    margin: 40px 0;
}

.content-container h2 {
    color: var(--scnd-color-nav);
}

.ingredients-list {
    margin-bottom: 40px;
} 

.step::marker {
    content: counter(list-item) " - ";
    color: var(--primary-color);
    font-weight: 800;
}

.ingredient::marker {
    content: "-  ";
    color: var(--primary-color);
    font-weight: 800;
}

.ingredient,.step {
    margin: 10px;
}

/* ----- MAIN ENDS ----- */


/* ----- FOOTER STARTS ----- */

footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #ededed;
}

#TOPlink {
    text-decoration: underline;
    color: inherit;
}

/* ----- FOOTER ENDS ----- */